{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

######################################################################
# To export current iterm2 setup and profile definitions
# Run `defaults export com.googlecode.iterm2 ./iterm2/iterm2.plist
# Then commit the new file definitions to the file
######################################################################

# iterm2 hash: {{ include "dot_config/iterm2/iterm2.plist" | sha256sum }}

set -eufo pipefail

defaults import com.googlecode.iterm2 {{ .chezmoi.homeDir }}/.config/iterm2/iterm2.plist

{{ end }}