{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Brewfile hash: {{ include "dot_config/homebrew/Brewfile.tmpl" | sha256sum }}

set -eufo pipefail

brew update

brew tap Homebrew/bundle
brew bundle --file {{ .chezmoi.homeDir }}/.config/homebrew/Brewfile

brew cleanup
{{ end }}