#!/bin/bash

set -eufo pipefail

echo ""
echo "🤚  This script will setup Python configs"


# Link pip to pip3
command -v pip >/dev/null 2>&1 || \
  (echo '🍺  Linking pip3 to pip' && /bin/bash -c "$(sudo sudo -s /usr/bin/pip3 /usr/bin/pip)")


echo ""
echo "Done."