[user]
	name = Marcelo Santino
	email = "{{ .email }}"
	signingKey = {{ .chezmoi.homeDir }}/.ssh/id_rsa.pub
[gpg]
	format = ssh
[pull]
	rebase = true
[init]
	defaultBranch = main

[includeIf "gitdir:{{ .chezmoi.homeDir }}/workspace/santino/mfsantino/interativ/codybrickwall/"]
	path = {{ .chezmoi.homeDir }}/.gitconfig-codybrickwall
