{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# iterm2 hash: {{ include "iterm2/iterm2.plist" | sha256sum }}

set -eufo pipefail

defaults import com.googlecode.iterm2 iterm2/iterm2.plist

{{ end }}