{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

mkdir -p ~/Library/Fonts/

wget -P  ~/Library/Fonts/ https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf
wget -P  ~/Library/Fonts/ https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf
wget -P  ~/Library/Fonts/ https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf
wget -P  ~/Library/Fonts/ https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf


{{ end }}