{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Brewfile hash: {{ include ".config/brew/Brewfile.tmpl" | sha256sum }}

set -eufo pipefail

brew update

brew tap Homebrew/bundle
brew bundle --file="$HOME/.config/brew/Brewfile"

brew cleanup
{{ end }}