tap "homebrew/bundle"
tap "homebrew/cask-versions"

brew "mas"
brew "chezmoi"
brew "powerlevel10k"
brew "gh"
brew "git"
brew "htop"
brew "jq"
brew "libpq"
brew "node"
brew "openjdk"
brew "telnet"
brew "tfenv"
brew "wget"
brew "watch"
brew "yarn"
brew "awscli"

# Dev
cask "miniconda"
cask "pycharm"
cask "docker"
cask "visual-studio-code"
cask "iterm2"
cask "alfred"
cask "slack"
cask "sublime-text"
cask "skype"
cask "kdiff3"

# Other
cask "spotify"
cask "backblaze"
cask "setapp"
cask "zoom"

# Requires password in prompt
{{- if (ne .mode "test") }}
cask "microsoft-office"
cask "google-drive"
{{ end }}

{{- if (eq .mode "work") }}
brew astro
{{ end }}

{{- if (ne .mode "work") }}
cask "google-chrome"
{{ end }}

# Additional apps
{{- if (ne .mode "test") }}
mas '1Password', id: 1333542190
mas 'WhatsApp Desktop', id: 1147396723
mas 'Telegram', id: 747648890
mas 'HP Smart for Desktop', id: 1474276998
mas 'Todoist: To do list e tarefas', id: 585829637
mas 'Okta Verify', id: 490179405
mas 'Xcode', id: 497799835
{{ end }}

vscode "erd0s.terraform-autocomplete"
vscode "hashicorp.terraform"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
